@font-face{
	font-family: 'Znikomit';
	src: url('../font/Znikomit.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

}
h1{
	color: white;
	font-size: 48px;
	font-family: 'Constantine', serif;
}
p{
	color:  white;
	font-size: 24px;
	font-family: 'AMG Anahit', serif;
}
span{
	background: dodgerblue ;
}
a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: 'Znikomit': normal;
	display: block;
	margin: 15px 0;
}
div{
	width: 80%;
	margin: auto;
	background-color: dodgerblu;
	padding: 30px;
}
img{
	width: 50%;
	height: 50%;
	display: block;
	margin: 15px 0;
}
body{
	font-size: 20px;
	background-color: dodgerblue;
}
style{
	
    text-align: center;
}
.btn {
    display: table; 
    background: ; 
    color: white; 
    padding: 1rem 1.5rem; 
    text-decoration: none;
    border: 0px solid Indigo; 
   }
